<app-encabezado></app-encabezado>
 <div class="card bg-transparent ">  
<div class="row ">
  
    <div class="col ">
      <div class="card1 ">  
      <div class="card-body block"> 
                    <h2 class="titular">Mis habilidades</h2>
                    <div class="donut-chart ">
 <!-- PORCIONES GRAFICO CIRCULAR
      ELIMINADO #donut-chart
      MODIFICADO CSS de .donut-chart -->
      <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
     <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
     <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
     <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
 <!-- FIN AÑADIDO GRÄFICO -->
                            <p class="center-date">Blandas Al:<br><span class="scnd-font-color">2023</span></p>        
                    </div>
                    <ul class="os-percentages horizontal-list">
                        <li>
                            <p class="ios os scnd-font-color">{{miAttache.sobreMi.caracteristica1}}</p>
                            <p class="os-percentage">{{miAttache.sobreMi.porcCaracteristica1}}<sup>%</sup></p>
                        </li>
                        <li>
                            <p class="mac os scnd-font-color">{{miAttache.sobreMi.caracteristica2}}</p>
                            <p class="os-percentage">{{miAttache.sobreMi.porcCaracteristica2}}<sup>%</sup></p>
                        </li>
                        <li>
                            <p class="linux os scnd-font-color">{{miAttache.sobreMi.caracteristica3}}</p>
                            <p class="os-percentage">{{miAttache.sobreMi.porcCaracteristica3}}<sup>%</sup></p>
                        </li>
                        <li>
                            <p class="win os scnd-font-color">{{miAttache.sobreMi.caracteristica4}}</p>
                            <p class="os-percentage">{{miAttache.sobreMi.porcCaracteristica4}}<sup>%</sup></p>
                        </li>
                    </ul>
                </div>
                </div>
 <!-- LINE CHART BLOCK (LEFT-CONTAINER) -->       
      
      <div class="card-body">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@mdo">Detalles, testimonios, arte</button>
   
      </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel1">New message</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="100">
                    <img src="http://www.cs.toronto.edu/~guerzhoy/411/neuralcat.png"
                      class="img-fluid w-10 img-thumbnail rounded float-start rounded float-end" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="//www.vanguardia.com/binrepository/716x911/0c29/716d477/none/12204/ROMJ/gettyimages-1387900612_8158772_20230402143809.jpg"
                      class="img-fluid w-10 img-thumbnail rounded float-start rounded float-end" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://e.rpp-noticias.io/normal/2022/09/06/170317_1310112.jpg"
                      class="img-fluid w-10 img-thumbnail rounded float-start rounded float-end" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://s3.amazonaws.com/static.scrum.org/web/Scrum+Values.png"
                      class="img-fluid w-10 img-thumbnail rounded float-start rounded float-end" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.liderarte.com.ar/wp-content/uploads/2022/01/clicoa.jpg"
                      class="img-fluid w-10 img-thumbnail rounded float-start rounded float-end" alt="...">
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span></button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span></button>
                </div>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Sobre IA
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Inteligencia Artificial y Transformación Digital</strong>
                      La inteligencia artificial (IA) tiene un enorme potencial para ser utilizada para el bien social y el logro de los Objetivos de Desarrollo Sostenible (ODS). Aunque se utiliza para ayudar a abordar muchos de los problemas sociales más críticos de la humanidad, su uso también genera preocupaciones sobre la violación de los derechos humanos, como el derecho a la libertad de expresión, el derecho a la privacidad, la protección de datos y la no discriminación. Las tecnologías basadas en IA ofrecen grandes oportunidades si se desarrollan respetando las normas, la ética y los estándares universales, y si están ancladas en valores basados ​​en los derechos humanos y el desarrollo sostenible.<code>UNESCO.-</code>https://www.unesco.org/en/artificial-intelligence/rule-law/mooc-judges
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Tecnologias
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Celebre frace, una de sus máximas:</strong>“Cualquier tecnología lo suficientemente avanzada es indistinguible de la magia” <code>Arthur C. Clarke.-</code>https://www.britannica.com/biography/Arthur-C-Clarke
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Scrum, Coach, Mindfulness, Naurociencias y algo más..
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Sustentabilidad interior</strong> Lo que llamo "Mi new age", la nueva "cajita de herramientas; la nueva mochila" elementos que desido implementar, realizar desarrollo interior, para el deploy de mi "yo interiror" en planta, o en la empresa, en aquel ambito donde la agilidad, facilitación, la resolucion, optimización, acertividad, y por supuesto los sentimientos deben primar. <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                
                </div>
              </div>
              </div>