<div class="col">
<div class="pCard_card card">
  <div class="pCard_up">
     <div class="pCard_text">
        <h2>Facu</h2>
        <p>Ambiente laboral</p>
     </div>
     <div class="pCard_add"><i class="fa fa-plus"><div><fa-icon [icon] = "faCircleNodes"></fa-icon></div></i></div>
  </div>
  <div class="pCard_down">
     <div>
        <p>Projects</p>
        <p>126</p>
     </div>
     <div>
        <p>Views</p>
        <p>21,579</p>
     </div>
     <div>
        <p>Likes</p>
        <p>1,976</p>
     </div>
  </div>
  <div class="pCard_back">
     <p>Contacto</p>
    
     <a href="https://www.linkedin.com/in/facundo-arag%C3%B3n-899026100/"><i class="fa-5x fa-fw"><fa-icon [icon] = "faLinkedin"></fa-icon></i></a>
     <a href="facundo.samela@gmail.com"><i class="fa fa-linkedin fa-5x fa-fw"><fa-icon [icon] = "faGoogle"></fa-icon></i></a>
     <a href="https://www.facebook.com/safa810"><i class="fa fa-behance fa-5x fa-fw"><fa-icon [icon] = "faFacebook"></fa-icon></i></a>   
     <a href="https://www.instagram.com/facusam_"><i class="fa fa-codepen fa-5x fa-fw"><fa-icon [icon] = "faInstagram"></fa-icon></i></a>
     <a href="https://github.com/20FacuSam23"><i class="fa fa-dribbble fa-5x fa-fw"><fa-icon [icon] = "faGithub"></fa-icon></i></a>
     <a href="https://www.youtube.com/@facundosamela1781"><i class="fa fa-instagram fa-5x fa-fw"><fa-icon [icon] = "faYoutube"></fa-icon></i></a>
     
   
     <p>Redes sociales!</p>
  </div>
</div>
</div>