<div >
 
      
    
              <a href="#" id="nombre" >{{persona.nombre}}{{persona.apellido}}apellido</a>
           
              {{persona.img}}img
    
      
      <p class='nota-final'>origen <strong>@biseltree</strong> Dev <a href='http://biseltree.tech'>integrator</a>.</p>
     


</div>
<p>hys works!</p>
<div class="row">
    <div class="col-3">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="10"
  [outerStrokeColor]="'#4882c2'"
  [innerStrokeColor]="'#e7e8ea'"
  [imageSrc]="'../assets/img1.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [animation]="true"
  [animationDuration]="1200"
  [title]="'UI'"
></circle-progress>
</div>
<div class="col-3">
    <circle-progress
    [percent]="10"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#4882c2'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="1200"
    [title]="'UI'"
  ></circle-progress>
</div>
</div>


    
