<app-encabezado></app-encabezado>
<!--<p *ngIf="!userLoginOn">Usuario No autenticado</p>
<p *ngIf="userLoginOn">Usuario Autenticado</p>
<div *ngIf="userLoginOn">
    <p>id:{{userData?.id}}</p>
    <p>user:{{userData?.user}}</p>

    <p>fullName:{{userData?.fullName}}</p>
    <p>position: {{userData?.position}}</p>
    <p>ubicacion:{{userData?.ubicacion}}</p>
    <p>email:{{userData?.email}}</p>
   <p>image:{{userData?.image}}</p>
   <p>mensaje:{{userData?.message}}</p>
   <p>password:{{userData?.password}}</p>
</div>-->
<p id="nombre" >nombre:{{persona.nombre}}</p>
    <p id="apellido">apellido: {{persona.apellido}}</p>
    <p img="img">img:{{persona.img}}</p>

