<div class="card-body">
    <div class="container text-center">
        <div class="row align-items-center border">
            <div class="col">

                <div class="progress opacity-50 " role="progressbar" aria-label="Animated striped example"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="progress opacity-50" role="progressbar" aria-label="Animated striped example"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
                </div>

            </div>
            <div class="col">

                <div class="progress opacity-50" role="progressbar" aria-label="Animated striped example"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 100%">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="alert alert-info text-dark" role="alert" id="info-data">{{miAttache.Encabezado.textoAlert1}}
         <a href="#" class="alert-link">{{miAttache.Encabezado.textoAlert2}}</a>

    </div>

    <nav role="progressbar"
        class="navbar navbar-dark border bg-dark rounded-pill progress-bar progress-bar-striped progress-bar-animated"
        style="width: 100%" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100">
        <div class="container-fluid">
            <a class=" navbar-brand fs-1 bg-info text-wrap rounded-pill " style="width: 24rem;" href="#">My
                Attaché</a>
            <p class="placeholder-glow">

                <button class="btn btn-outline-info rounded-pill " type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Suscribite</button>


                    
                  <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button>

            <div class="offcanvas offcanvas-bottom " tabindex="-1" id="offcanvasBottom"
                aria-labelledby="offcanvasBottomLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body small">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                           
                              
                            



                        </li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">
                            
                         
                            
                            </li>
                        
                    </ul>

                </div>
            </div>

            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title small" id="offcanvasTopLabel">Offcanvas top</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            
                            <div class="col-md">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelectGrid">
                                    <option selected>Seleccionar</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                  <label for="floatingSelectGrid">Works with selects</label>
                                </div>
                              </div>

                        </li>                        
                        <li class="list-group-item">
                            
                            <div class="col-md">
                                <div class="form-floating">
                                  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
                                  <label for="floatingInputGrid">Email address</label>
                                </div>
                              </div>

                        </li>
                      
                    </ul>


                    ...
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>

<!---------------------------------------------------------------------------->
