<app-encabezado></app-encabezado>
<div class="row">
    <button class="btn btn-primary" type="button" routerLink="/attache/crearExperiencia" *ngIf="isLogged" >Nueva Experiencia</button>
    <h1>Experiencia</h1>
    <div class="table-responsive">
        <table class="table align-middle text-white">
            <thead>
                <tr>
                    <td>EXPERIENCIA</td>
                    <td>DESCRIPCIÓN</td>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Experiencia of experiencia">
                    <td>{{Experiencia.nombreE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td class="bi bi-pencil-fill"><button class="btn btn-primary" routerLink="/attache/editarExperiencia/{{Experiencia.id}}">EDITAR</button></td>
                    <td><button class="bi bi-pencil-fill btn btn-danger" (click)="delete(Experiencia.id)">BORRAR</button></td>
                </tr>
             
                <tr>
                    <td >...</td>
                    <td>...</td>
                    <td class="align-top">This cell is aligned to the top.</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </div>




    <app-footer></app-footer>